<footer class="footer">
    <div class="footer-links text-end">
        <a class="glowing-link" href="https://discord.com">
            <img class="icon" src="/static/icons/discord.svg">
            excellentap
        </a>
        <a class="glowing-link" href="mailto:alex.prosser.uark@gmail.com">
            <img class="icon" src="/static/icons/envelope.svg">
            alex.prosser.uark@gmail.com
        </a>
    </div>

    <div class="footer-links text-start">
        <span class="glowing-link" onclick="window.scrollTo({ top: 0, behavior: 'smooth' })">▲ Back to Top</span>

        <div>
            <a href="https://youtube.com/CodingAP" class="lead glowing-link">
                <img class="icon" src="/static/icons/youtube.svg">
            </a>
            <a href="https://www.linkedin.com/in/alex-prosser-a8524a221/" class="lead glowing-link">
                <img class="icon" src="/static/icons/linkedin.svg">
            </a>
            <a href="https://github.com/CodingAP" class="lead glowing-link">
                <img class="icon" src="/static/icons/github.svg">
            </a>
        </div>
        
        <span class="glowing">© <steve> return new Date().getFullYear(); </steve> Copyright - Alex Prosser</span>
    </div>
</footer>