<script> let FF_FOUC_FIX; // to prevent firefox fouc, this must be here </script>

<nav class="navbar">
    <a href="/" class="logo glowing-link">
        <img src="/static/img/logo.png" alt="Logo" width="32" height="32">
        Alex Prosser
    </a>
    
    <ul id="menu">
        <li><a class="glowing-link" href="/blog">Blog</a></li>
        <li><a class="glowing-link" href="/projects">Projects</a></li>
        <li><a class="glowing-link" href="/about">About</a></li>
    </ul>
    
    <span id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </span>
    
    <div id="mobile-menu"></div>
</nav>