<!doctype html>
<html lang="en">

<head>
    <steve> return steve.include('head.html', { title: 'Not Found', ...steve.data }); </steve>

    <!-- page's styling and scripting -->
    <style>
        .error {
            margin-top: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <steve> return steve.include('navbar.html', { ...steve.data }); </steve>

        <div id="circle-container"></div>

        <div class="error">
            <h1 class="glowing">404 - Not Found!</h1>
            <p>The URL provided doesn't point to a valid page. Be sure to check it, or yell at me to fix it if there is a problem!</p>
        </div>

        <steve> return steve.include('footer.html'); </steve>
    </div>
</body>

</html>